h1 {
text-decoration: underline;
color: darkgray;
font-family: Courier;
font-style: italic;
font-kerning: 3px;
}

h2 {
  text-decoration: overline;
  color: lightgray;
}

h3 {
  text-decoration: line-through;
  color: lightblue;
  font-family: Helvetica;
  font-size: 8px;
  font-style: oblique;
  font-weight: lighter;
}

h4 {
  text-decoration: overline;
  color:gray;
  font-family: Arial;
  font-size: 18px;
}


body {
  display: block;
  margin: 20px;
  text-align: right;
  width: 600px;
  height: 800px;
}
